# postgres
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openmusic
PGPORT=5432

# rabbitmq
RABBITMQ_SERVER=amqp://localhost

#mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=youremail@gmail.com
SMTP_PASSWORD=your_app_password
